---
- name: Initialize Docker Swarm
  community.docker.docker_swarm:
    state: present
    advertise_addr: "{{ ansible_host }}"
  register: swarm_init
  changed_when: swarm_init.changed

- name: Get worker join token
  command: docker swarm join-token -q worker
  register: join_token
  changed_when: false

- name: Set worker join token as a fact
  set_fact:
    swarm_join_token: "{{ join_token.stdout }}"

- name: Save join token to a local file
  ansible.builtin.copy:
    content: "{{ join_token.stdout }}"
    dest: "/opt/docker-swarm/.swarm_join_token"
    mode: '0600' # Restrict permissions for security

- name: Copy the token to the local machine
  ansible.builtin.fetch:
    src: "/opt/docker-swarm/.swarm_join_token"
    dest: "~/.swarm_join_token"
    flat: true
