# CORS short-hand
(cors) {
    header {
        Access-Control-Allow-Origin "{args[0]}"
        Access-Control-Allow-Methods "GET, POST, OPTIONS"
        Access-Control-Allow-Credentials "{args[1]}"
        # Used for checking file integrity so it's important to let it pass through
        Access-Control-Expose-Headers "X-File-Integrity"
    }
}

# Self-signed cerificates for HTTPS go here

# Authelia
{{ auth_dns }} {
    # Accepts requests (browser initiated) from web-client
    import cors https://{{ web_dns }} true
    reverse_proxy authelia:9091 {
    }
}

# Qasmat's API
{{ api_dns }} {
    route /api/* {
        import cors https://{{ web_dns }} true
        # Checks if the user is authenticated, and redirect to authelia if it's not
        forward_auth authelia:9091 {
            uri /api/authz/forward-auth
            copy_headers Remote-User Remote-Groups Remote-Email Remote-Name
        }
    }
    route /ping {
        import cors * false
    }
    reverse_proxy proxy:3000
    rewrite /api /api/
}

# Web client
{{ web_dns }} {
    # Checks if the user is authenticated, and redirect to authelia if it's not
    forward_auth authelia:9091 {
        uri /api/authz/forward-auth
    }
    header /config/* {
        Cache-Control "no-cache, no-store, must-revalidate"
    }
    root * /srv
    try_files {path} /
    file_server browse
}