# Authelia configuration
# Created the 25-03-2024

server:
  address: 'tcp://:9091/'
  endpoints:
    authz:
      forward-auth:
        implementation: 'ForwardAuth'

log:
  level: 'debug'

authentication_backend:
  refresh_interval: '20s'
  password_reset:
    disable: false
  file:
    path: '/etc/authelia/database/users.yml'
    watch: true

session:
  cookies:
  - domain: '{{ domain }}'
    authelia_url: 'https://{{ auth_dns }}/'
    default_redirection_url: 'https://{{ web_dns }}/'
  redis:
    host: redis
    port: 6379
    database_index: 0
    maximum_active_connections: 10
    minimum_idle_connections: 0

storage:
  local:
    path: '/etc/authelia/database/db.sqlite3'

access_control:
  default_policy: deny
  rules:
  - domain: '{{ web_dns }}'
    policy: 'one_factor'
  - domain: '{{ api_dns }}'
    policy: 'one_factor'

notifier:
  disable_startup_check: false
  filesystem:
    filename: '/config/notification.txt'