{
  "storage_mode": {
    "Disk": {
      "path_to_folder": "/Qasmat/share_storage_{{ storage1 }}"
    }
  },
  "network": {
    "path_to_preshared_key": "./secret",
    "discovery": {
      "Manual": {
        "servers": [
          {
            "address": "proxy",
            "port": 49999
          }
        ]
      }
    }
  }
}
